{{#if blogposts.length}}
{{#each blogposts as |blogpost| }}
    <div class="row mb-4">
        <div class="col-md-10">
            <div class="blog-header">
            <h4>
                <a href="/blogs/{{blogpost.id}}" class="blog-link">{{blogpost.title}}</a>
            </h4>
                <p> Created by {{blogpost.user.username}} on {{format_date blogpost.createdAt}}</p>
            </div>
            <p class="blog-content">
                {{blogpost.content}}
            </p>
        </div>
    </div>
{{/each}}
{{/if}}

{{!-- <script src="./js/homepage.js"></script> --}}
{{!-- write the above script --}}